<ul class="pagination {% if settings.pagination-style == 'jump-to-page' %}jump-to-page{% endif %}">

  <li class="previous">
    {% if paginate.previous %}
      {{ 'Previous' | link_to: paginate.previous.url }}
    {% else %}
      Previous
    {% endif %}
  </li>

  {% if settings.pagination-style == 'standard' %}
    <li class="position">Page {{ paginate.current_page }} of {{ paginate.pages }}</li>
  {% else %}

    {% for part in paginate.parts %}
      {% if part.is_link %}
        <li class="jump-to-link">{{ part.title | link_to: part.url }}</li>
      {% else %}
        {% if part.title == '&hellip;' %}
        <li class="jump-to-link ellipsis">{{ part.title }}</li>
        {% else %}
        <li class="jump-to-link active">{{ part.title }}</li>
        {% endif %}
      {% endif %}
    {% endfor %}

  {% endif %}

  <li class="next">
    {% if paginate.next %}
      {{ 'Next' | link_to: paginate.next.url }}
    {% else %}
      Next
    {% endif %}
  </li>

</ul><!-- .pagination -->
