{% if template contains 'article' and blog.metafields.blogfeeder.use_canonical == 'yes' %}{% assign canonical_url = article.metafields.blogfeeder.canonical %}{% endif %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7 ie6"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8 ie7"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9 ie8"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10 ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta name="google-site-verification" content="ggaYxmO3vS951shMnjp-Ud1Hnm0WMXw4NK0-GqWfOCk" />
  <!--
  ==========================================================================
     Atlantic v7.5.0
     Updated: May 28, 2014
     Website: http://pixelunion.net
     Themes: http://pixelunion.net/themes
  ==========================================================================
  -->

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% if template == "index" %} {{ shop.name }} {% else %} {{ page_title }} &ndash; {{ shop.name }} {% endif %}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description }}">
  {% elsif template == 'index' and shop.description != '' %}
    <meta name="description" content="{{ shop.description }}" />
  {% endif %}


{% if (product.handle == "white"
	or product.handle == "grey"
	or product.handle == "pink"
	or product.handle == "navy-gingham"
	or product.handle == "black"
	or product.handle == "blue"
	or collection.handle == "shirts"
	or collection.handle == "gift-cards") %}
	<meta name="robots" content="noindex,follow" />
{% endif %}

  <meta name="viewport" content="width=device-width" />
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />

  <!-- Theme CSS
  ///////////////////////////////////////// -->
  {{ 'style.css' | asset_url | stylesheet_tag }}


  <!-- Third party JS Assets
  ///////////////////////////////////////// -->
  {{ 'modernizr-2.6.2.min.js' | asset_url | script_tag }}
  {{ 'jquery-1.9.min.js' | asset_url | script_tag }}

  {{ "option_selection.js"  | shopify_asset_url | script_tag }}

  {% if template contains 'customers' %}
    {{ "shopify_common.js" | shopify_asset_url | script_tag }}
    {{ "customer_area.js"  | shopify_asset_url | script_tag }}
  {% endif %}

  {% if page.url == "/pages/how-it-works-casual" %}
  	{{ "howitworks.js" | asset_url | script_tag }}
  {% endif %}

  {% if page.url == "/pages/measurements" %}
  	{{ "measurements.js" | asset_url | script_tag }}
  {% endif %}

  {% if template == 'product.single' %}
  	{{ "whatsthis.js" | asset_url | script_tag }}
  {% endif %}


  {% include 'social-meta' %}

  <!-- Store object
  ///////////////////////////////////////// -->
  <script type="text/javascript">
    settings = {}
    settings.logo                   = {{ settings.use-logo }};
    settings.products               = new Array();
    settings.currency               = '{{ shop.currency }}';
    settings.currencyFormat         = "{{ shop.money_with_currency_format }}";
    settings.shippingCalculator     = '{{ settings.shipping_calculator }}';
    settings.productImageBorders    = {{ settings.product-image-borders }};
    settings.slideshowPagination    = {{ settings.show-slideshow-pagination }};
    settings.autoplaySlideshow      = {{ settings.autoplay-slideshow }};
    settings.autoplayDelay          = '{{ settings.rotate-freq }}';
    settings.fullsizeProductViewer  = {{ settings.display-fullsize-product-viewer }};
    Shopify.money_format = "{{ shop.money_format }}";
  </script>

  {{ content_for_header }}

  <!-- TYPEKIT -->
  <!--<script src="//use.typekit.net/uqu0hgp.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>-->

  <!-- GOOGLE FONTS -->
  <!--<link href='//fonts.googleapis.com/css?family=Sanchez:400italic,400|Questrial|Roboto+Condensed:300' rel='stylesheet' type='text/css'>-->
  <link href='https://fonts.googleapis.com/css?family=Merriweather:300,300italic' rel='stylesheet' type='text/css'>

  <!-- WEBTYPE -->
  <link href="//cloud.webtype.com/css/0c863ec3-7137-4f79-b763-20ca38ecfb17.css" rel="stylesheet" type="text/css" />

  {% include '_yotpo' %}
  {% include '_friendbuy' %}

  {% unless template == 'collection.stantt-shirts' %}
  	{% include 'magiczoomplus.headers' %}
  {% endunless %}

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
  <script src="https://code.angularjs.org/1.2.21/angular-route.min.js"></script>
  <script src="{{ 'AppServices.js' | asset_url }}"></script>
  <script src="{{ 'AppControllers.js' | asset_url }}"></script>
  <script src="{{ 'SingleApp.js' | asset_url }}"></script>
</head>

{% assign showSectionHeaders = false %}
{% if settings.show-section-headers %} {% assign showSectionHeaders = true %} {% endif %}

<body class="{% if template contains 'contact' %}template-contact{% else %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{% endif %} {% unless showSectionHeaders %}disable-headers{% endunless %} {% if settings.meta-font == "'Open Sans' sans-serif" %}font-open-sans{% endif %} {% if settings.main-title-uppercase %}uppercase{% endif %}">
  <!--
  <div id="fb-root"></div>

  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  </script>
  -->


  {% include '_qualaroo' %}
  {% include '_addthis' %}

  {% unless collection.handle == 'express-checkout' %}
    {% include 'header' %}
  {% endunless %}

  <div ng-app="SingleApp" class="page-content">

  {% unless collection.handle == 'express-checkout' or template contains 'collection' %}
    <aside class="home-notification-bar">free shipping &amp; returns <span> | </span> A BETTER SHIRT, GUARANTEED</aside>
  {% endunless %}

  {% if product.type  == 'shirt' %}
    <!--<aside class="home-notification-bar product-notification"><p>Our team at the factory is taking time off to spend with their families until the New Year.</p><p>All orders placed until then will be shipped the first week of January ’16. Thanks for the understanding!</p></aside>-->
  {% endif %}


  {% if template contains 'product' %}
    <!--{% include 'breadcrumbs' %}-->
  {% endif %}

  {% unless template contains 'collections' %}
    {{ content_for_layout }}
  {% else %}
    {% include 'collections' %}
  {% endunless %}
  </div><!-- end container -->


  {% unless collection.handle == 'express-checkout' %}
    {% include 'footer' %}
  {% endunless %}

  {% if template contains 'index' or template contains 'collection' or template contains 'product' or template contains '404' or template contains 'search' %}

    <section class="quick-shop">

    <div class="quick-shop-modal">
      <!-- Content dynamically added -->
    </div>

    </section>
  {% endif %}

  {% if template contains 'cart' %}
    {{ 'api.jquery.js' | shopify_asset_url | script_tag }}
  {% endif %}
  {{ 'plugins.js' | asset_url | script_tag }}
  {{ 'site.js' | asset_url | script_tag }}

  <script>
  var selectCallbackQuickShop = function(variant, selector) {

    {% if template contains 'pre-order' %}
      var submitText = 'Pre-Order';
    {% else %}
      var submitText = 'Add to cart';
    {% endif %}

    var id = selector.domIdPrefix.split('-')[2];

    if (id) {
      context = $('#quick-shop-' + id)
    } else {
      context = $('#product-area, .mobile-product-title')
    }

    if (variant && variant.available == true) {


      if (id) {
        context.find('.submit').text(submitText)
      } else {
        context.find('.submit').attr('value', submitText)
      }

      if ( variant.compare_at_price > 0 && variant.compare_at_price > variant.price ) {
        if (settings.currency == 'USD' || settings.currency == 'CAD') {
          context.find('.price').html('<span class="original">' + Shopify.formatMoney(variant.compare_at_price) + '</span>' + Shopify.formatMoney(variant.price));  // update price field
        } else {
          context.find('.price').html('<span class="original">' + Shopify.formatMoney(variant.compare_at_price, "{{shop.money_with_currency_format}}") + '</span>' + Shopify.formatMoney(variant.price, "{{shop.money_with_currency_format}}"));  // update price field
        }

      } else {
        if (settings.currency == 'USD' || settings.currency == 'CAD') {
          context.find('.price').html(Shopify.formatMoney(variant.price));  // update price field
        } else {
          context.find('.price').html(Shopify.formatMoney(variant.price, "{{shop.money_with_currency_format}}"));  // update price field
        }

      }

      if (id) {
        context.find('.submit').removeClass('disabled').text(submitText); // remove unavailable class from add-to-cart button, and re-enable button
      } else {
        context.find('.submit').removeClass('disabled').attr('value', submitText); // remove unavailable class from add-to-cart button, and re-enable button
      }


    } else {
      var message = variant ? "Sold Out" : "Unavailable";
      if (id) {
        context.find('.submit').addClass('disabled').text(message)
      } else {
        context.find('.submit').addClass('disabled').attr('value', message)
      }

      context.find('.price').text(message);
    }
  };

  </script>


  {% include 'ajaxify-cart' %}
  {% include 'modify_lightbox_snippet' %}

  {% unless collection.handle == 'express-checkout' %}
    {% include '_hubspot' %}
    {% include '_crazyegg' %}
    {% include '_adroll' %}
    {% include '_remarketing_addwords' %}
    {% include '_remarketing_facebook' %}
  {% endunless %}

  <!--Start of Zopim Live Chat Script-->
<script type="text/javascript">
window.$zopim||(function(d,s){var z=$zopim=function(c){
z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
$.src='//v2.zopim.com/?3cJXT7jbBHqZFt0xvxO09mV88HZSg7oV';z.t=+new Date;$.
type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
</script>
<!--End of Zopim Live Chat Script-->
{% include '_google_remarketing' %}

</body>
</html>
